<%- include('./partials/header.ejs') %> <%- include('./partials/navbar.ejs') %>

<div class="container ">
  <div class="row mt-5">
    <h1>Home</h1>
    <hr />
    <p class="mt-5">
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Enim neque
      laborum harum voluptatum beatae amet animi, fuga ullam dolores natus
      excepturi voluptatem in nostrum totam ipsam nulla rem. Similique dolores
      earum numquam, deleniti doloribus, qui temporibus assumenda vel ea
      voluptates eos eius iure expedita laboriosam vitae veritatis. Vero
      laudantium unde vitae aut nam est nemo natus facere assumenda earum
      necessitatibus exercitationem quisquam et incidunt animi, aperiam magnam
      laboriosam fuga nihil. Ducimus pariatur itaque beatae dolorem architecto
      vero, quo velit reiciendis enim hic illum. Obcaecati facere, repudiandae
      quia labore facilis aliquam perspiciatis iusto veniam recusandae alias,
      minus dolores! Sunt molestiae ipsa repellat accusamus repellendus quis
      molestias velit non hic? Perspiciatis odio, quasi corporis ad similique
      sequi asperiores dolorem consequatur vero voluptatem.
    </p>
  </div>
</div>
<%- include('./partials/footer.ejs') %>
